{% extends "base.html" %}
{% load static %}


{% block title %} Events - {{ type }} {% endblock %}
{% block heading %} Events - {{ type }} {% endblock %}
    
{% block style %} <link rel="stylesheet" href="{% static 'css/card_style.css' %}" type="text/css">{% endblock %}

{% block bgimage %} {% static "img/event.jpg" %} {% endblock %}

{% block content %}
<!-- Blog Area Begin -->

<div class="row">
    {% if user.is_superuser %}
    <a href="{% get_media_prefix %}workbooks/{{ wbname }}" download="{{ wbname }}"><img src="{% static "img/download.png" %}" height="15" width="18" alt="">Download Participants Excel Sheet</a>
    {% endif %}

    
    

    {% for event in events %}
    
    <div class="col-lg-4 col-md-6">
        <div class="single-blog">
            <div class="blog-img">
                <a href="{% url 'event' event.type event.pk %}" class="event-btn">
                {% if event.image %}
                    <img src="{{ event.image.url }}" height="166" width="360" alt="">
                {% else %}
                    <img src="{% static "img/logo.png" %}" height="166" width="360" alt="">
                {% endif %}
                </a>
            </div>
            <div class="blog-details">
                <span>{{ event.date }}</span>
    
                <h4>
                    <a href="{% url 'event' event.type event.pk %}" class="event-btn">{{ event.name }}</a>
                </h4>
                <p>{{ event.description }}</p>
                
                {% if user.is_superuser %}
                <a href="{% url 'event' event.type event.pk %}" class="read-btn">REGISTERED USERS</a>
                {% elif user.is_authenticated %}
                        {% if event in user.events.all %}
                            <a href="{% url 'event' event.type event.pk %}" class="read-btn">ALREADY REGISTERED</a>
                        {% else %}
                            <a href="{% url 'event' event.type event.pk %}" class="read-btn">REGISTER</a>
                        {% endif %}
                {% else %}
                    <a href="{% url 'event' event.type event.pk %}" class="read-btn">REGISTER</a>
                {% endif %}
            </div>
        </div>
    </div>

    {% endfor %}
</div>
<!-- Blog Area End -->
{% endblock %}

